ALLOWED_ORIGIN=https://webradio.666soundsdesign-broadcaster.com
ADMIN_SERVICE_TOKEN=put_shared_service_token_in_worker_secret_only
DEBUG_TOKEN=
AUTH_SECRET=
ADMIN_PASSWORD=
AUTH_AUDIENCE=666SOUNDsDESIGn-WebRadio-Admin
